/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: rgb(9, 9, 75);
    background: url("https://cdn1.parksmedia.wdprapps.disney.com/media/blog/wp-content/uploads/2019/05/ksjfhury85ui11-624x352.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1, h2, h3, h4, h5 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

@keyframes example {
    from {background-color: #b3c8e9;}
    to {background-color: whitesmoke}
    
}/* My code starts here */

.content {
    max-width: 880px;
	margin: auto;
    justify-content: center;
    background: #ffffff73;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    box-shadow: 0px 10px 160px black;
}

#headerImage {
    border-radius: 50%;
    box-shadow: 0px 0px 40px black;
}

/*  NAVIGATION */

#navbar {
	display: flex;
	height: 65px;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.navLinks {
    display: flex;
    flex-flow: row nowrap;
}

.navLink {
	color: #030a16;
	font-size: 14px;
    text-decoration: none;
    margin-right: 60px;
}

#bannerSection {
	height: 480px;
	border-bottom: 1px solid #030a16;
	margin: 0px 0px 30px 0px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    
}

#taglineBox {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
    justify-content: center;
    align-items: center;
	width: 500px;
	height: 480px;
}

#tagline {
    font-size: 60px;
    color: #030a16;
}

#signUp {
	height: 60px;
    width: 60px;
    color: #042f74;
	font-size: 16x;
	border: 1px solid darkslategray;
	padding: 10.7px;
	text-decoration: none;
	background-color:darkslategray;
    animation-name: example;
	animation-duration: 1s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 50%;
    box-shadow: 5px 5px 35px black;
}

#upperSection {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
    margin: 0px 0px 30px 0px;
}

#features {
    width: 425px;
    color: #030a16;
}

#about {
    width: 425px;
    color: #030a16;
}
/* 
#lowerSection {
	display: flex;
	flex-flow: row nowrap;
	align-items: right;
	margin: 30px 0px 30px 0px;
} */

/* #services {
	width: 290px;
}

#product {
	width: 290px;
}

#vision {
	width: 290px;
} */

#address {
    justify-content: center;
    align-items: baseline;
	border-top: 1px solid#030a16;
	width: 880px;
    padding: 40px 0px 0px 0px;
    color:#030a16;
}
.bottomEars {
    position: static;
    top: 35vh;
    height: 20vh;
    width: 50%;
    animation: linearwipe 4s steps(60, end); 
}

@keyframes linearwipe{ 
  from { width: 0; } 
}

.bottomEars img {
    height: 100%;
}

/* #footer {
	text-align: center;
	margin: 28px 0px;
    font-size: 14px;
    color: #030a16;
} */



/* Hi GUYS!  These are the media queries. */
/* Tablet */

@media (max-width: 800px) {


    #navbar {
        flex-flow: column-reverse nowrap;
    }

    .logo {
        margin-top: 50px;
    }

    .navLinks {
        display: flex;
        justify-content: space-between;
    }

    .navLink {
        margin: 45px 42px;
        font-size: 16px;
    }

    #headerImage {
        display: none;
    }

    #bannerSection {
        justify-content: center;
        padding-top: 75px;
        border-bottom: 0px;
        height: 450px;
    }

    #tagline {
        font-size: 72px;
    }

    #getStarted {
        height: 35px;
        width: 170px;
        color: #030a16;
        font-size: 16px;
        border: 1px solid #030a16;
        padding-top: 7px;
        text-decoration: none;
    }

    #upperSection {
    	justify-content: space-between;
        width: 755px;
        border-top: 2px solid #030a16;
        margin: 0px 0px 40px 20px;
        padding: 30px 0px 0px 10px;
    }

    #features {
        width: 360px;
    }

    #about {
        width: 360px;
    }

    /* .middle-img {
        width: 755px;
        margin-left: 20px;
    } */

    /* #lowerSection {
        justify-content: space-between;
        width: 755px;
        margin: 0px 0px 60px 20px;
        padding: 30px 0px 0px 10px;
    } */

    /* #services {
        width: 210px;
    }

    #product {
        width: 210px;
    }

    #vision {
        width: 210px;
    } */

    #address {
        border-top: 2px solid #030a16;
        margin-left: 20px;
        width: 755px;
        padding: 30px 0px 0px 5px;
    }

    #footer {
        text-align: center;
        margin-top: 70px;
        font-size: 16px;
    }

    /* Here is the second media query.*/
    /* phone */
}
@media (max-width: 500px) {


    #navbar {
        height: 450px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

    .logo {
        margin: 15px 0px;
    }
    .navLinks {
        flex-flow: column nowrap;
    }

    .navLink {
        font-size: 20px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 22px 0px;
        width: 500px;
        border-top: 1px solid #030a16;
    }

    #bannerSection {
        border-bottom: 0px;
        height: 350px;
        padding-top: 0px;
    }

    #tagline {
        border-top: 1px solid #030a16;
        width: 500px;
        margin-top: 25px;
        padding-top: 40px;
    }

    #upperSection {
        width: 460px;
        flex-flow: column wrap;
        margin-right: 40px;
        padding-left: 0px;
        align-items: flex-start;
    }

    #features {
        width: 460px;
        margin: 25px 0px;
    }

    #about {
        width: 460px;
        margin: 25px 0px;
    }

    .middle-img {
        width: 460px;
    }

    #lowerSection {
        width: 460px;
        flex-flow: column wrap;
        margin-right: 40px;
        padding-left: 0px;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    /* #services {
        width: 460px;
        margin: 25px 0px;
    }

    #product {
        width: 460px;
        margin: 25px 0px;
    }

    #vision {
        width: 460px;
        margin: 25px 0px;
    } */

    #address {
        width: 460px;
        margin-right: 40px;
    }
    #footer {
        text-align: center;
        margin-top: 50px; 
    }
}