.App {
  text-align: center;
}

body{
  background-color: #282c34;
  background-image: url('./jacob-dyer-q1DrHkWrQDw-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.App-link {
  color: #09d3ac;
}
